---


<img width=25% src="https://raw.githubusercontent.com/gabrielcapela/credit_risk/main/images/myself.png" align=right>

# **Rent Forecast Project**

*by Gabriel Capela*

[<img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"/>](https://www.linkedin.com/in/gabrielcapela)
[<img src="https://img.shields.io/badge/Medium-12100E?style=for-the-badge&logo=medium&logoColor=white" />](https://medium.com/@gabrielcapela)

---

This project applies **Machine Learning** techniques to predict the rental value of residential properties in the city of SÃ£o Paulo, based on characteristics such as location, number of bedrooms, parking spaces, among other relevant attributes. 

The goal is to develop a **decision-making support tool** that helps tenants and owners identify fair prices that are consistent with the market.

To this end, a web interface will be created where the user can enter information about the property and obtain an estimated rental value in return. 

<p align="center">
<img width=70% src="
https://raw.githubusercontent.com/gabrielcapela/rent-predict-sp/main/images/crisp-dm.jpeg">
</p>

The development of the project involves steps such as **understanding the problem, analyzing and preparing the data, building and evaluating predictive models, and finally implementing a web application** that allows the practical use of the solution.

# Business Understanding

## Problem Contextualization

The city of **SÃ£o Paulo** is home to some of the largest and most dynamic real estate activity in Brazil. With a highly competitive and volatile market, understanding and predicting property rental prices becomes essential for different agents in the sector â€” from landlords, tenants, investors, to digital rental platforms.

Using historical data on properties available for rent in SÃ£o Paulo during 2019, this project aims to **explore and model the factors that directly influence rental prices**. In addition, it seeks to develop an accessible and functional interface, allowing users to enter characteristics of a property and quickly and conveniently obtain a price estimate, thus becoming an effective tool for decision support in the real estate market.

Since the **main objective of this project is to deploy a functional solution**, it was decided to use AutoML tools, which accelerate the predictive modeling process. The YData Profiling library will be used for automated exploratory data analysis, and PyCaret, which allows for rapid testing of different regression models, preprocessing, and selection of the best approach based on performance metrics. This strategy allows for the focus of efforts on delivering a usable end product, with significant productivity gains.

For the deployment phase, the project will use **Flask to build a lightweight and flexible web interface**, enabling users to interact with the predictive model in a simple and efficient way. **This application will be hosted on Heroku**, a cloud platform that facilitates easy and scalable deployment of web applications. This setup ensures that the solution is not only technically robust, but also accessible to end users without requiring advanced technical expertise.

## Source of Data

<p align="center">
<img width=100% src="
https://raw.githubusercontent.com/gabrielcapela/rent-predict-sp/main/images/kaggle_data.png">
</p>

The data used in this project were obtained from the [Kaggle](https://www.kaggle.com/datasets/argonalyst/sao-paulo-real-estate-sale-rent-april-2019/data) platform and contain detailed information about properties located in the city of SÃ£o Paulo in 2019. The variables include physical characteristics of the properties (such as number of bedrooms, bathrooms, parking spaces), as well as economic and location variables. The dataset is already presented in a structured and relatively clean format, which allows for a more direct advance to the modeling and implementation phases.

## Importance of the Problem

Predicting rental prices in urban centers like SÃ£o Paulo is relevant for several reasons:

*   Landlords and real estate agencies can better price their properties, avoiding vacancies or outdated prices;
*   Tenants can identify neighborhoods with better value for money;
*   Online platforms can integrate intelligent price suggestion systems;
*   Startups and real estate businesses can use predictive models as part of their solutions.

However, there are some important limitations:

*   The model does not consider subjective variables such as finishing, perceived security or view;
*   The data is from 2019, which may not reflect the current post-pandemic market;
*   External factors, such as public policies and urban infrastructure, are not directly considered.

## Project Objective

Although predictive modeling is an essential step, the main focus of this project is the deployment phase: that is, putting the model into production through an application accessible via a web interface.

### The goal is to deliver a functional solution, where users can enter characteristics of a property and instantly obtain an estimate of the rental value, simulating a real usage scenario in systems or online platforms.

## Criteria for Model Evaluation

**The model's performance will be assessed based on the R2 metric** (coefficient of determination), which indicates the proportion of the rental price variability that is explained by the model's independent variables. In other words, R2 measures how well the model can reproduce the real values â€‹â€‹from the available data. The R2 value ranges from 0 to 1, with values â€‹â€‹closer to 1 indicating a model with greater explanatory power.

For this project, **we expect to achieve an R2 greater than 0.7**, meaning that the model performs well, explaining most of the price variability.

# Data Understanding

This step is essential to gain initial insights into the dataset, **identify patterns**, **detect anomalies**, and **assess data quality**.

The dataset used can be downloaded from this [page](https://github.com/gabrielcapela/rent-predict-sp/blob/7e157b64910df7c095880ea7d5c59964f9d72a45/data/sao-paulo-properties-april-2019.csv) and includes several quantitative and categorical variables for each apartment, as well as **a numeric variable indicating the rental or sale value**.

The complete data analysis will be performed using the YData Profiling package, a tool that generates automatic reports.

## Load and inspect the dataset

First, let's import the necessary packages and the dataset and check its first few lines.

In [1]:
#Importing the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

In [2]:
#Importing the dataset
df = pd.read_csv('https://github.com/gabrielcapela/rent-predict-sp/blob/7e157b64910df7c095880ea7d5c59964f9d72a45/data/sao-paulo-properties-april-2019.csv?raw=true')
pd.set_option('display.max_columns', None)  #Show all the columns
#Showing the first lines
df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/SÃ£o Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/SÃ£o Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/SÃ£o Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/SÃ£o Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/SÃ£o Paulo,rent,apartment,-23.525025,-46.482436

In [3]:
#Showing the shape of dataset
print(f"The data set has {df.shape[0]} rows and {df.shape[1]} columns.")

The data set has 13640 rows and 16 columns.

Below is the meaning of each variable:

| **Variable**       | **Description**                                                                 |
|--------------------|---------------------------------------------------------------------------------|
| `Price`            | Monthly rent price (in Brazilian Reais - R$).                                   |
| `Condo`            | Monthly condominium fee (in R$).                                                |
| `Size`             | Property size in square meters (mÂ²).                                            |
| `Rooms`            | Total number of rooms (usually includes living room and bedrooms).              |
| `Toilets`          | Total number of bathrooms/toilets.                                              |
| `Suites`           | Number of ensuite bathrooms (bathrooms directly connected to a bedroom).        |
| `Parking`          | Number of available parking spots.                                              |
| `Elevator`         | Indicates whether the building has an elevator (`1` = Yes, `0` = No).           |
| `Furnished`        | Indicates whether the property is furnished (`1` = Yes, `0` = No).              |
| `Swimming Pool`    | Indicates whether the building has a swimming pool (`1` = Yes, `0` = No).       |
| `New`              | Indicates whether the property is new (`1` = Yes, `0` = No).                    |
| `District`         | Neighborhood and city (e.g., `BelÃ©m/SÃ£o Paulo`).                                |
| `Negotiation Type` | Type of transaction (e.g., `rent`).                                             |
| `Property Type`    | Type of property (e.g., `apartment`).                                           |
| `Latitude`         | Geographic coordinate (latitude) of the property.                               |
| `Longitude`        | Geographic coordinate (longitude) of the property.                              |

First we notice that there is a column with the type of negotiation, this study will be limited to rent, data on sales will be excluded:

In [4]:
# Show the unique values of the 'Negotiation Type' column
print(df['Negotiation Type'].value_counts())
# Deletin the 'sale' entrys from the 'Negotiation Type' column
df = df[df['Negotiation Type'] != 'sale']
#Showing the shape of dataset
print(f"The data set has {df.shape[0]} rows and {df.shape[1]} columns.")

Negotiation Type
rent    7228
sale    6412
Name: count, dtype: int64
The data set has 7228 rows and 16 columns.

## Ydata Profiling

YData Profiling is a powerful open-source Python tool that automates the process of exploratory data analysis (EDA). With just a single line of code, it generates an interactive and comprehensive HTML report that summarizes key insights about the dataset.

In [5]:
profile = ProfileReport(df, title="report", explorative=True)
#profile.to_notebook_iframe()
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 16/16 [00:01<00:00, 15.79it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Click [here](https://gabrielcapela.github.io/rent-predict-sp/report.html) to see the full report!

### Some observations can already be made:

* ðŸŸ¢ There are no missing values;
* ðŸŸ¢ There are values â€‹â€‹equal to zero, but it is consistent with the meaning of the data;
* ðŸ”´ The columns 'Negotiation Type' and 'Property Type' can be excluded, as they have a single value;
* ðŸŸ¢ There are many boolean variables (has or does not have), which will facilitate processing;
* ðŸŸ¡ You can make a visualization with the columns 'Longitude' and 'Latitude'; e
* ðŸ”´ The column 'District' must go through some kind of encoding for processing.
* ðŸ”´ The 'Condo' column will be aggregated with the 'Price' column. The model will return the total amount a potential tenant will pay per month.

## Ploting a Map

Interactive visualization of the geographic locations of properties available for rent in the city of SÃ£o Paulo. **Each point on the map represents a property**, with the color varying according to the rental value â€” higher values â€‹â€‹are represented by more intense colors. A **logarithmic transformation** was applied to the rental values â€‹â€‹to improve the sensitivity of the color scale, since most prices are concentrated in lower ranges.

In [32]:
import folium
import branca.colormap as cm
import numpy as np

df_map = df[['Latitude', 'Longitude', 'Price']].copy()
df_map ['Price_log'] = np.log1p(df_map['Price']) 

# Map centered in SP
mapa_sp = folium.Map(location=[-23.55052, -46.63331], zoom_start=12)

# Colormap adjusted to log scale
colormap = cm.linear.YlOrRd_09.scale(df_map['Price_log'].min(), df_map['Price_log'].max())
colormap.caption = 'Rent Price (log scale)'

# Adding points to the map
for _, row in df_map.iterrows():
    folium.CircleMarker(
        location=[row['Latitude'], row['Longitude']],
        radius=3,
        color=colormap(row['Price_log']),
        fill=True,
        fill_color=colormap(row['Price_log']),
        fill_opacity=0.7
    ).add_to(mapa_sp)

colormap.add_to(mapa_sp)


mapa_sp.save("templates/map.html")

[ðŸ”— Click here to see the map.](https://gabrielcapela.github.io/rent-predict-sp/map.html)



#### TO DO LIST ðŸš®

* ðŸ”´ Delete columns 'Longitude', 'Latitude', 'Negotiation Type' and 'Property Type'.
* ðŸ”´ Encode the column 'District'.

# Data Preparation

In this step, we will clean and modify the data based on the insights gathered from the previous analysis.

### Data Cleaning

First, let's delete the columns and rows marked in the previous step:

In [7]:
# Making a copy
df_clean = df.copy()
# List of columns to drop
columns_to_drop = ['Longitude', 'Latitude', 'Negotiation Type', 'Property Type']

# Drop the columns from the DataFrame
df_clean = df_clean.drop(columns=columns_to_drop, errors='ignore')

print(f"Data shape after dropping columns: {df_clean.shape}")

Data shape after dropping columns: (7228, 12)

### Feature Engineering

The 'Price' column will be added to the 'Condo' column. This resulting column will become the target variable of the model.

In [8]:
df_clean['total_price'] = df_clean['Price'] + df_clean['Condo']
df_clean = df_clean.drop(columns=['Price', 'Condo'])

### Division of the dataset

In [9]:
#Importing the package needed for split
from sklearn.model_selection import train_test_split

#Dividing the dataset into train e test
df_train, df_test = train_test_split(df_clean, test_size=0.2, random_state=42)

#Checking the sizes of the divisions
print(f"Training set size: {df_train.shape}")
print(f"Testing set size: {df_test.shape}")

Training set size: (5782, 11)
Testing set size: (1446, 11)

# Modeling

## Pycaret

PyCaret is a **Python AutoML library** that makes it easy to build machine learning models with just a few lines of code. It automates tasks like preprocessing, comparison, and model tuning, making it ideal for fast, efficient projects.

In [10]:
# Importing the necessary packages
from sklearn.utils._testing import ignore_warnings # or other utilities

from pycaret.regression import setup, compare_models, models, create_model, predict_model
from pycaret.regression import tune_model, plot_model, evaluate_model, finalize_model
from pycaret.regression import save_model, load_model

### Defining the Setup

In [11]:
# Creating the PyCaret setup
reg = setup(data=df_train, target='total_price')

### Creating the pipeline

In [12]:
# Creating the pipeline
reg = setup(data = df_train,
            target = 'total_price',
            normalize = True,
            #log_experiment = True,
            experiment_name = 'test_01',
            session_id= 2025)

### Comparing the models

In [13]:
import logging

# Suppressing the log output from LightGBM and other libraries
logging.getLogger("pycaret").setLevel(logging.WARNING)
logging.getLogger("lightgbm").setLevel(logging.WARNING)

# Now running compare_models
best = compare_models()

### Verifying and instantiating the best model

In [14]:
# Checking the best model 
print(best)

RandomForestRegressor(n_jobs=-1, random_state=2025)

In [15]:
# Instantiating the model
rf = create_model('rf')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

### Hyperparameter Tuning

In [16]:
tuned_rf = tune_model(rf, optimize='R2')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

# Evaluation

In [17]:
# Evaluating the model
evaluate_model(tuned_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

### Prediction with training data

In [18]:
# Making the predictions
predict_model(tuned_rf)

,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,total_price,prediction_label
4027,76,3,1,0,2,0,0,1,0,SaÃºde/SÃ£o Paulo,3585,3546.643333
10152,71,3,2,1,1,1,0,1,0,Lapa/SÃ£o Paulo,3070,2980.612000
1121,70,3,2,1,1,0,1,1,0,Jabaquara/SÃ£o Paulo,3328,2448.090000
9858,54,2,2,1,2,0,0,1,0,Campo Limpo/SÃ£o Paulo,1781,1951.326667
10495,70,2,1,0,1,0,0,0,0,Cambuci/SÃ£o Paulo,1810,1866.505000
...,...,...,...,...,...,...,...,...,...,...,...,...
2630,49,1,1,0,1,0,1,1,0,Casa Verde/SÃ£o Paulo,2868,2960.160378
1062,127,3,4,3,2,1,1,1,0,Ipiranga/SÃ£o Paulo,5730,5485.766667
1980,65,2,2,1,2,0,0,0,0,Pinheiros/SÃ£o Paulo,4950,4890.060000
11145,205,4,6,4,4,1,1,1,0,Brooklin/SÃ£o Paulo,17500,19402.176667
10117,81,3,2,1,1,1,0,1,0,Freguesia do Ã“/SÃ£o Paulo,2450,2621.381000

The model achieved an **RÂ² score of 0.8386**, which is within the expected range. However, this result was obtained **using the training data**. We will now finalize the model and perform the final test.

### Finalizing the model

In [19]:
# Finalizing the model
final_rf= finalize_model(tuned_rf)

In [20]:
# Checking the parameters
print(final_rf)

Pipeline(memory=Memory(location=None),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Size', 'Rooms', 'Toilets',
                                             'Suites', 'Parking', 'Elevator',
                                             'Furnished', 'Swimming Pool',
                                             'New'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['District'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('rest_encoding',
                 TransformerWrapper(include=['District'],
                                    transformer=TargetEncoder(cols=['District'],
                                                              handle_missing='return_nan'))),
                ('normalize', TransformerWrapper(transformer=StandardScaler())),
                ('clean_column_names',
                 TransformerWrapper(transformer=CleanColumnNames())),
                ('actual_estimator',
                 RandomForestRegressor(n_jobs=-1, random_state=2025))])

### Predicting on new data

In [21]:
# Making Predictions with Unseen Data (test set)
unseen_predictions = predict_model(final_rf, data=df_test)

In [22]:
unseen_predictions.head()

,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,total_price,prediction_label
2020,45,2,2,1,1,0,0,0,0,Pirituba/SÃ£o Paulo,1399,1247.585000
10852,65,2,2,0,1,0,0,1,0,ButantÃ£/SÃ£o Paulo,2610,2300.281667
3043,64,2,2,1,1,0,0,1,0,CarrÃ£o/SÃ£o Paulo,2517,2088.310000
9391,55,1,2,1,1,1,0,0,0,Santana/SÃ£o Paulo,1530,1842.501667
1383,45,1,2,1,1,1,1,1,0,SaÃºde/SÃ£o Paulo,2500,3197.003333

 After testing with unseen data, the **RÂ² score was 0.8279**, indicating that **the model performs well on new data and generalizes effectively**. This result demonstrates the model's robustness and its potential for accurate rental price predictions in real-world scenarios. The next step will be to **deploy the model** and integrate it into the application for practical use.

### Saving the model

In [23]:
save_model(final_rf,'model/Final_Model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Size', 'Rooms', 'Toilets',
                                              'Suites', 'Parking', 'Elevator',
                                              'Furnished', 'Swimming Pool',
                                              'New'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['District'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['District'],
                                     transformer=TargetEncoder(cols=['District'],
                                                               handle_missing='return_nan'))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  RandomForestRegressor(n_jobs=-1, random_state=2025))]),
 'model/Final_Model.pkl')

# Deployment

### Retrieving information needed for web application

First, we get the name of all the variables that will be entered by the user.

In [29]:
from pycaret.regression import get_config

# Get the input DataFrame (features used in training)
X = get_config('X')

input_features = X.columns.tolist()
print(input_features)

['Size', 'Rooms', 'Toilets', 'Suites', 'Parking', 'Elevator', 'Furnished', 'Swimming Pool', 'New', 'District']

Checking the name of all existing districts in the database, to appear as a selection option

In [27]:
# List unique districts in alphabetical order
distritos_unicos = sorted(df['District'].dropna().unique())

# generating the code for the html file:
for d in distritos_unicos:
    print(f'<option value="{d}">{d}</option>')

<option value="Alto de Pinheiros/SÃ£o Paulo">Alto de Pinheiros/SÃ£o Paulo</option>
<option value="Anhanguera/SÃ£o Paulo">Anhanguera/SÃ£o Paulo</option>
<option value="Aricanduva/SÃ£o Paulo">Aricanduva/SÃ£o Paulo</option>
<option value="Artur Alvim/SÃ£o Paulo">Artur Alvim/SÃ£o Paulo</option>
<option value="Barra Funda/SÃ£o Paulo">Barra Funda/SÃ£o Paulo</option>
<option value="Bela Vista/SÃ£o Paulo">Bela Vista/SÃ£o Paulo</option>
<option value="BelÃ©m/SÃ£o Paulo">BelÃ©m/SÃ£o Paulo</option>
<option value="Bom Retiro/SÃ£o Paulo">Bom Retiro/SÃ£o Paulo</option>
<option value="BrasilÃ¢ndia/SÃ£o Paulo">BrasilÃ¢ndia/SÃ£o Paulo</option>
<option value="Brooklin/SÃ£o Paulo">Brooklin/SÃ£o Paulo</option>
<option value="BrÃ¡s/SÃ£o Paulo">BrÃ¡s/SÃ£o Paulo</option>
<option value="ButantÃ£/SÃ£o Paulo">ButantÃ£/SÃ£o Paulo</option>
<option value="Cachoeirinha/SÃ£o Paulo">Cachoeirinha/SÃ£o Paulo</option>
<option value="Cambuci/SÃ£o Paulo">Cambuci/SÃ£o Paulo</option>
<option value="Campo Belo/SÃ£o Paulo">Campo Belo/SÃ£o Paulo</option>
<option value="Campo Grande/SÃ£o Paulo">Campo Grande/SÃ£o Paulo</option>
<option value="Campo Limpo/SÃ£o Paulo">Campo Limpo/SÃ£o Paulo</option>
<option value="CangaÃ­ba/SÃ£o Paulo">CangaÃ­ba/SÃ£o Paulo</option>
<option value="CapÃ£o Redondo/SÃ£o Paulo">CapÃ£o Redondo/SÃ£o Paulo</option>
<option value="CarrÃ£o/SÃ£o Paulo">CarrÃ£o/SÃ£o Paulo</option>
<option value="Casa Verde/SÃ£o Paulo">Casa Verde/SÃ£o Paulo</option>
<option value="Cidade Ademar/SÃ£o Paulo">Cidade Ademar/SÃ£o Paulo</option>
<option value="Cidade Dutra/SÃ£o Paulo">Cidade Dutra/SÃ£o Paulo</option>
<option value="Cidade LÃ­der/SÃ£o Paulo">Cidade LÃ­der/SÃ£o Paulo</option>
<option value="Cidade Tiradentes/SÃ£o Paulo">Cidade Tiradentes/SÃ£o Paulo</option>
<option value="ConsolaÃ§Ã£o/SÃ£o Paulo">ConsolaÃ§Ã£o/SÃ£o Paulo</option>
<option value="Cursino/SÃ£o Paulo">Cursino/SÃ£o Paulo</option>
<option value="Ermelino Matarazzo/SÃ£o Paulo">Ermelino Matarazzo/SÃ£o Paulo</option>
<option value="Freguesia do Ã“/SÃ£o Paulo">Freguesia do Ã“/SÃ£o Paulo</option>
<option value="GrajaÃº/SÃ£o Paulo">GrajaÃº/SÃ£o Paulo</option>
<option value="Guaianazes/SÃ£o Paulo">Guaianazes/SÃ£o Paulo</option>
<option value="Iguatemi/SÃ£o Paulo">Iguatemi/SÃ£o Paulo</option>
<option value="Ipiranga/SÃ£o Paulo">Ipiranga/SÃ£o Paulo</option>
<option value="Itaim Bibi/SÃ£o Paulo">Itaim Bibi/SÃ£o Paulo</option>
<option value="Itaim Paulista/SÃ£o Paulo">Itaim Paulista/SÃ£o Paulo</option>
<option value="Itaquera/SÃ£o Paulo">Itaquera/SÃ£o Paulo</option>
<option value="Jabaquara/SÃ£o Paulo">Jabaquara/SÃ£o Paulo</option>
<option value="JaguarÃ©/SÃ£o Paulo">JaguarÃ©/SÃ£o Paulo</option>
<option value="JaraguÃ¡/SÃ£o Paulo">JaraguÃ¡/SÃ£o Paulo</option>
<option value="Jardim Helena/SÃ£o Paulo">Jardim Helena/SÃ£o Paulo</option>
<option value="Jardim Paulista/SÃ£o Paulo">Jardim Paulista/SÃ£o Paulo</option>
<option value="Jardim SÃ£o Luis/SÃ£o Paulo">Jardim SÃ£o Luis/SÃ£o Paulo</option>
<option value="Jardim Ã‚ngela/SÃ£o Paulo">Jardim Ã‚ngela/SÃ£o Paulo</option>
<option value="JaÃ§anÃ£/SÃ£o Paulo">JaÃ§anÃ£/SÃ£o Paulo</option>
<option value="JosÃ© BonifÃ¡cio/SÃ£o Paulo">JosÃ© BonifÃ¡cio/SÃ£o Paulo</option>
<option value="Lajeado/SÃ£o Paulo">Lajeado/SÃ£o Paulo</option>
<option value="Lapa/SÃ£o Paulo">Lapa/SÃ£o Paulo</option>
<option value="Liberdade/SÃ£o Paulo">Liberdade/SÃ£o Paulo</option>
<option value="LimÃ£o/SÃ£o Paulo">LimÃ£o/SÃ£o Paulo</option>
<option value="Mandaqui/SÃ£o Paulo">Mandaqui/SÃ£o Paulo</option>
<option value="Medeiros/SÃ£o Paulo">Medeiros/SÃ£o Paulo</option>
<option value="Moema/SÃ£o Paulo">Moema/SÃ£o Paulo</option>
<option value="Mooca/SÃ£o Paulo">Mooca/SÃ£o Paulo</option>
<option value="Morumbi/SÃ£o Paulo">Morumbi/SÃ£o Paulo</option>
<option value="Pari/SÃ£o Paulo">Pari/SÃ£o Paulo</option>
<option value="Parque do Carmo/SÃ£o Paulo">Parque do Carmo/SÃ£o Paulo</option>
<option value="Pedreira/SÃ£o Paulo">Pedreira/SÃ£o Paulo</option>
<option value="Penha/SÃ£o Paulo">Penha/SÃ£o Paulo</option>
<option value="Perdizes/SÃ£o Paulo">Perdizes/SÃ£o Paulo</option>
<option value="Pinheiros/SÃ£o Paulo">Pinheiros/SÃ£o Paulo</option>
<option value="Pirituba/SÃ£o Paulo">Pirituba/SÃ£o Paulo</option>
<option value="Ponte Rasa/SÃ£o Paulo">Ponte Rasa/SÃ£o Paulo</option>
<option value="Raposo Tavares/SÃ£o Paulo">Raposo Tavares/SÃ£o Paulo</option>
<option value="RepÃºblica/SÃ£o Paulo">RepÃºblica/SÃ£o Paulo</option>
<option value="Rio Pequeno/SÃ£o Paulo">Rio Pequeno/SÃ£o Paulo</option>
<option value="SacomÃ£/SÃ£o Paulo">SacomÃ£/SÃ£o Paulo</option>
<option value="Santa CecÃ­lia/SÃ£o Paulo">Santa CecÃ­lia/SÃ£o Paulo</option>
<option value="Santana/SÃ£o Paulo">Santana/SÃ£o Paulo</option>
<option value="Santo Amaro/SÃ£o Paulo">Santo Amaro/SÃ£o Paulo</option>
<option value="Sapopemba/SÃ£o Paulo">Sapopemba/SÃ£o Paulo</option>
<option value="SaÃºde/SÃ£o Paulo">SaÃºde/SÃ£o Paulo</option>
<option value="Socorro/SÃ£o Paulo">Socorro/SÃ£o Paulo</option>
<option value="SÃ£o Lucas/SÃ£o Paulo">SÃ£o Lucas/SÃ£o Paulo</option>
<option value="SÃ£o Mateus/SÃ£o Paulo">SÃ£o Mateus/SÃ£o Paulo</option>
<option value="SÃ£o Miguel/SÃ£o Paulo">SÃ£o Miguel/SÃ£o Paulo</option>
<option value="SÃ£o Rafael/SÃ£o Paulo">SÃ£o Rafael/SÃ£o Paulo</option>
<option value="SÃ©/SÃ£o Paulo">SÃ©/SÃ£o Paulo</option>
<option value="TatuapÃ©/SÃ£o Paulo">TatuapÃ©/SÃ£o Paulo</option>
<option value="TremembÃ©/SÃ£o Paulo">TremembÃ©/SÃ£o Paulo</option>
<option value="Tucuruvi/SÃ£o Paulo">Tucuruvi/SÃ£o Paulo</option>
<option value="Vila Andrade/SÃ£o Paulo">Vila Andrade/SÃ£o Paulo</option>
<option value="Vila CuruÃ§Ã¡/SÃ£o Paulo">Vila CuruÃ§Ã¡/SÃ£o Paulo</option>
<option value="Vila Formosa/SÃ£o Paulo">Vila Formosa/SÃ£o Paulo</option>
<option value="Vila Guilherme/SÃ£o Paulo">Vila Guilherme/SÃ£o Paulo</option>
<option value="Vila JacuÃ­/SÃ£o Paulo">Vila JacuÃ­/SÃ£o Paulo</option>
<option value="Vila Leopoldina/SÃ£o Paulo">Vila Leopoldina/SÃ£o Paulo</option>
<option value="Vila Madalena/SÃ£o Paulo">Vila Madalena/SÃ£o Paulo</option>
<option value="Vila Maria/SÃ£o Paulo">Vila Maria/SÃ£o Paulo</option>
<option value="Vila Mariana/SÃ£o Paulo">Vila Mariana/SÃ£o Paulo</option>
<option value="Vila Matilde/SÃ£o Paulo">Vila Matilde/SÃ£o Paulo</option>
<option value="Vila Olimpia/SÃ£o Paulo">Vila Olimpia/SÃ£o Paulo</option>
<option value="Vila Prudente/SÃ£o Paulo">Vila Prudente/SÃ£o Paulo</option>
<option value="Vila SÃ´nia/SÃ£o Paulo">Vila SÃ´nia/SÃ£o Paulo</option>
<option value="Ãgua Rasa/SÃ£o Paulo">Ãgua Rasa/SÃ£o Paulo</option>

Checking the maximum and minimum values â€‹â€‹of each input variable, to serve as limits in user selectors

In [30]:

# List of variables to analyze
cols = ['Size', 'Rooms', 'Toilets', 'Suites', 'Parking']

# Loop through each column and print min and max values
for col in cols:
    min_val = df[col].min()
    max_val = df[col].max()
    print(f"{col}: Minimum = {min_val}, Maximum = {max_val}")

Size: Minimum = 30, Maximum = 880
Rooms: Minimum = 1, Maximum = 10
Toilets: Minimum = 1, Maximum = 8
Suites: Minimum = 0, Maximum = 5
Parking: Minimum = 0, Maximum = 9

### Explanation of development

After training and validating the Machine Learning model, the deployment stage was carried out with the aim of making the application accessible via a web browser.

ðŸ“¦ Backend with Flask

A backend was created using the Flask microframework, responsible for receiving the data entered by the user, performing pre-processing and generating the prediction based on the trained model.

The main *app.py* file loads the model and defines the application routes

â˜ï¸ Hosting with Heroku

To make the application accessible online, it was hosted in the cloud using the Heroku platform. The following files were configured:

*requirements.txt*: lists the project dependencies
*Procfile*: defines the Flask application startup command
*runtime.txt*: specifies the Python version used

### The final application is available at: https://rent-predict-sp-b372d5fb9a82.herokuapp.com

<p align="center">
<img width=90% src="
https://raw.githubusercontent.com/gabrielcapela/rent-predict-sp/main/images/project.png">
</p>